{{#tags}}
### {{name}}
{{#commits}}
- {{{messageTitle}}} (by {{{authorName}}}) [[{{hash}}](https://github.com/InnovativeOnlineIndustries/Industrial-Foregoing/commit/{{hashFull}})]
{{/commits}}
{{/tags}}
